params {

    // Reads and references
    
    adapter_fa = "/projectnb/bf528/materials/project-3-chipseq/refs/TruSeq3-SE.fa"
    blacklist = "/projectnb/bf528/students/xjin4/project-4-ATAC-seq-Jessie0625he/refs/mm10_blacklist.bed"
    ucsc_genes = "/projectnb/bf528/students/xjin4/project-4-ATAC-seq-Jessie0625he/refs/mm10_genes.bed" 
    

    genome = "/projectnb/bf528/students/xjin4/project-4-ATAC-seq-Jessie0625he/refs/mm10.fa"
    gtf = "/projectnb/bf527/students/xjin4/final_project/RNA-seq/refs/mm10.gtf"
    window = 2000
    //corrtype = 'pearson'
    //corrtype = 'spearman'

    samples = "$projectDir/sample.csv"
   

    // Directories
    outdir = "$projectDir/results/"
    refdir = "$projectDir/refs/"
}

profiles {
    conda {
        conda.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    cluster {
        process {
                executor = 'sge'
                clusterOptions = '-P bf528'
                penv = 'omp'

                withLabel: process_single {
                    cpus = 1
                }

                withLabel: process_low {
                    cpus = 4

                }
                withLabel: process_medium {
                    cpus = 8
                }
                
                withLabel: process_high {
                    cpus = 16
                }
        }
    }

    local {
        process.executor = 'local'
    }
}

executor {
    $sge {
        queueSize = 8
    }
    $local {
        cpus = 1
    }
}

resume = true